/* Generelle elementer. */
html{
    scroll-behavior: smooth;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    font-weight: 800;
    color: white;
    text-align: justify;
    position:absolute; top: 50%; left: 17.5%;
    text-shadow: 3px 3px #000000;
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    font-weight: 700;
    margin-top: 100px; margin-bottom: 100px;
    text-align: center;
}
h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 500;
}
p{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}
.til-toppen{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-left: 92.5%;
    color: black;
    text-decoration: none;
}

/* Forsiden/startsiden. */
#forsidebilde{
    background-image: url(../img/forside/forsidebilde.jpg);
    width: 100%; height: 100vh;
    background-size: cover;
    background-position: center;
}
#navbar-text-meny{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    position:absolute; top: 75%; left: 40%;
    text-shadow: 3px 3px #000000;
}
#navbar-text-info{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    position:absolute; top: 75%; right: 40%;
    text-shadow: 3px 3px #000000;
}

/* Hovedmeny/valg av måltid. */
.hovedmeny-grid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%; margin-right: 10%;
    text-align: center;
    margin-bottom: 50px;
}

.hovedmeny-grid a{
    color: black;
    text-decoration: none;
}

/* Menyen. */
.meny-kort{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%; margin-right: 10%;
    text-align: center;
    margin-bottom: 50px;
}
.meny-kort-box{
    background-color: #16110f;
    max-width: 300px;
}
.meny-kort-box h3{
    color: white;
    margin-top: -1px; margin-top: 5px;
}
.meny-kort-box p{
    color: white;
    margin-top: -10px; margin-left: 10px; margin-right: 10px;
}
.allergener{
    font-weight: bold;
    font-size: 12px;
}

/* Infosiden. */
#info{
    background-image: url(../img/footer/bakgrunn-footer.jpg);
    width: 100%; height: 100vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
}
#info h2{
    margin-bottom: 50px; margin-top: 50px;
}
.info-subtittel{
    font-weight: 600;
    margin-top: 30px; margin-bottom: -10px;
}
#info .til-toppen{
    color: white;
}
.socialmedia{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 45%; margin-right: 45%; margin-bottom: 30px; margin-top: 20px;
}
.copyright a{
    color: lightblue;
    text-decoration: none;
    margin-top: 30px;
}